<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Block title -->
    <title>{% block title %}{% endblock %}</title>
 
    <!-- Block CSS -->
    {% block css %}
    <link rel="stylesheet" href="{{ BASE_URL }}/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
    <!-- Navigasi -->
    <nav class="navbar navbar-expand-lg bg-dark m-0 p-0">
        <div class="container my-0 p-0">
            <a class="navbar-brand" href="{{ BASE_URL }}/rekap">Melawan Corona</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn-danger nav-link" href="{{ BASE_URL }}/donasi">Beri Donasi</a>
                    </li>
                </ul>
            </div>
            <blockquote class="blockquote text-right">
              <p class="text-light my-0">We are in this together — and we will get through this, together.</p>
              <footer class="blockquote-footer">UN Secretary General <cite title="Source Title">António Guterres</cite></footer>
            </blockquote>
        </div>
    </nav>

 
    <!-- Block Body -->
    {% block body %}
        <h1>Hello World</h1>
    {% endblock %}
 
    <!-- Block Script -->
    {% block script %}
    <script src="{{ BASE_URL }}/js/jquery-3.5.0.min.js"></script>
    <script src="{{ BASE_URL }}/js/bootstrap.min.js"></script>
    <script src="{{ BASE_URL }}/js/popper.min.js"></script>
    {% endblock %}
</body>
</html>
